# Copyright 2025 Aethernet Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

filter=-readability/todo # this requered author to all todo
filter=-readability/multiline_string # this prevents from using multiline strings
filter=-runtime/references # this forbids from using references as return value
filter=-runtime/int # some libraries requires use long long int instead of sized int64_t
filter=-build/c++17 # this prevents to use <filesystem>
filter=-runtime/explicit # do not require use explicit constructor
filter=-whitespace/indent_namespace # this check is buggy https://github.com/cpplint/cpplint/issues/293
filter=-build/include_what_you_use # this check is buggy https://github.com/cpplint/cpplint/issues/301
